In [139]:
# titanic survival predication
import pandas as pd
df = pd.read_csv("./datasets/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [140]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [141]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [142]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [143]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [144]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False

In [145]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [146]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [147]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female   male
0       3  22.000000   7.2500   False   True
1       1  38.000000  71.2833    True  False
2       3  26.000000   7.9250    True  False
3       1  35.000000  53.1000    True  False
4       3  35.000000   8.0500   False   True
5       3  29.699118   8.4583   False   True

In [148]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [149]:
len(inputs)

891

In [150]:
from sklearn.naive_bayes import GaussianNB
model= GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [151]:
model.score(X_test,y_test)

0.7653631284916201

In [152]:
X_test[:10]

     Pclass        Age      Fare  female   male
27        1  19.000000  263.0000   False   True
886       2  27.000000   13.0000   False   True
523       1  44.000000   57.9792    True  False
696       3  44.000000    8.0500   False   True
437       2  24.000000   18.7500    True  False
72        2  21.000000   73.5000   False   True
736       3  48.000000   34.3750    True  False
229       3  29.699118   25.4667    True  False
36        3  29.699118    7.2292   False   True
678       3  43.000000   46.9000    True  False

In [153]:
y_test[:10]

27     0
886    0
523    1
696    0
437    1
72     0
736    0
229    0
36     1
678    0
Name: Survived, dtype: int64

In [154]:
model.predict_proba(X_test[:10])

array([[5.48080468e-13, 1.00000000e+00],
       [9.81358878e-01, 1.86411217e-02],
       [3.66232851e-03, 9.96337671e-01],
       [9.92042192e-01, 7.95780759e-03],
       [2.98243788e-02, 9.70175621e-01],
       [8.94466053e-01, 1.05533947e-01],
       [5.91817302e-02, 9.40818270e-01],
       [6.63308065e-02, 9.33669194e-01],
       [9.91649630e-01, 8.35037045e-03],
       [4.49553793e-02, 9.55044621e-01]])

In [155]:
#email spam detection
sf=pd.read_csv('./datasets/spam.csv')
sf.head(3)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [156]:
sf.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [157]:
sf['spam']=sf['Category'].apply(lambda x: 1if x== 'spam' else 0)
sf.head()

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\Hp\AppData\Local\Temp\ipykernel_18664\697364143.py:1: SyntaxWarning: invalid decimal literal
  sf['spam']=sf['Category'].apply(lambda x: 1if x== 'spam' else 0)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [158]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(sf.Message,sf.spam,test_size=0.25)

In [159]:
from sklearn.feature_extraction.text import CountVectorizer
v= CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [161]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [162]:
emails =[
	'Hey mohan, can we get together to watch football game tomorrow?',
    'Upto 20% discount on parking,exclusive offer just for you.Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [163]:
X_test_count = v.transform(X_test)
model.score(X_test_count,y_test)

0.9863603732950467

In [166]:
from sklearn.pipeline import Pipeline

clf= Pipeline([
	('vectorize',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [167]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorize', CountVectorizer()), ('nb', MultinomialNB())])

In [168]:
clf.score(X_test,y_test)

0.9863603732950467

In [169]:
clf.predict(emails)

array([0, 1], dtype=int64)